root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.hbs]
indent_style = tab
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{*.json,*.yml,*.md}]
indent_style = space
indent_size = 2
insert_final_newline = false
