{{> header }}
<body>
	<div class="wrapper">
		<header>
			<div id="nav"></div>
		</header>
		<div class="container">
			<section class="col-sm-10 col-sm-offset-1">
				<header>
					<div class="page-header text-center">
						<h1 class="title">{{title}}</h1>
					</div>
					<p class="lead text-center">
						Trying to Record the Weather Data with API.
					</p>
				</header>
				<hr/>
				<p>GET: <code>{{location}}api/agri/create?temp=CC&humi=PP</code></p>
				<p>or POST: <code>{{location}}api/agri/create</code></p>
				<div id="content"></div>
				<hr/>
{{> footer }}
			</section>
		</div>
	</div>
<script>
{{variable 'user' user}}
</script>
<script src="/js/main.js"></script>
</body>
</html>