{{> header }}
<body>
	<div class="wrapper">
		<div class="container">
			<section class="col-sm-10 col-sm-offset-1">
				<header>
				<nav class="navbar navbar-fixed-top" role="navigation">
					<div class="container">
						<form class="form-signin" action="/logout">
							<button class="btn btn-default" type="submit">Logout <i class="fa fa-sign-out"></i></button>
						</form>
					</div>
				</nav>
				<div id="content"></div>
				<hr/>
{{> footer }}
			</section>
		</div>
	</div>
<script src="/js/main.js"></script>
</body>
</html>