<h2>Create Data:</h2>
<p>GET: <code>{{location}}api/agri/create?temp=CC&humi=PP</code></p>
<p>or POST: <code>{{location}}api/agri/create</code></p>
	<form role="form" action="/api/agri/create" method="post" class="form-inline">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">&#8451;</div>
				<input type="text" class="form-control" id="exampleInputtemp1" name="temp" placeholder="Enter temperature">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">%</div>
				<input type="text" class="form-control" id="exampleInputhumi1" name="humi" placeholder="Enter humidity">
			</div>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
